backend/n8n_workflows/daily_reminder.json
{
  "name": "Daily Class Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Every day at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/dev/token/service",
        "options": {}
      },
      "name": "Get Service Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Pending Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tasks.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Pending Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "subject",
              "value": "=LinguaAgent: You have {{ $json.tasks.length }} pending task(s)",
              "type": "string"
            },
            {
              "name": "body",
              "value": "=Hi! You have pending English tasks:\n\n{{ $json.tasks.map(t => '- ' + t.title + ' (due: ' + t.due_date + ')').join('\\n') }}\n\nDon't forget to practice today!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Build Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, -100]
    },
    {
      "parameters": {},
      "name": "No Pending Tasks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Every day at 8am": {
      "main": [
        [
          {
            "node": "Get Service Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Service Token": {
      "main": [
        [
          {
            "node": "Get Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Tasks": {
      "main": [
        [
          {
            "node": "Has Pending Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Tasks?": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
