backend/n8n_workflows/hitl_escalation.json
{
  "name": "HITL Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inspector-anomaly",
        "options": {}
      },
      "name": "Inspector Anomaly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "alert_message",
              "value": "=🚨 *LinguaAgent Alert*\n\n*Type:* {{ $json.body.anomaly_type }}\n*User ID:* {{ $json.body.user_id }}\n*Details:* {{ $json.body.details }}\n\nPlease review and respond at the approval webhook.",
              "type": "string"
            },
            {
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "name": "anomaly_type",
              "value": "={{ $json.body.anomaly_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Build Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-response",
        "options": {},
        "responseMode": "responseNode"
      },
      "name": "Wait for Admin Response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/dev/token/service",
        "options": {}
      },
      "name": "Get Service Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "executed",
              "type": "string"
            },
            {
              "name": "message",
              "value": "=Action approved by admin for user {{ $('Build Alert').item.json.user_id }}: {{ $('Build Alert').item.json.anomaly_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Execute Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "rejected",
              "type": "string"
            },
            {
              "name": "message",
              "value": "=Action rejected by admin for user {{ $('Build Alert').item.json.user_id }}: {{ $('Build Alert').item.json.anomaly_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Rejection",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Inspector Anomaly Webhook": {
      "main": [
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Wait for Admin Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Admin Response": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Get Service Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Service Token": {
      "main": [
        [
          {
            "node": "Execute Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
